.form__container_type_profile {
  width: 410px;
}

.form__header_type_profile {
  align-self: center;
  margin-bottom: 123px;
  margin-top: 0;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 17px;
  z-index: 1;
  border-bottom: 1px solid #E8E8E8;
}

.form__field:last-of-type {
  border: none;
  margin-bottom: 0;
}

.form__placeholder_type_profile {
  text-align: start;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: -13px;
}

.form__input_type_profile {
  text-align: end;
  background-color: transparent;
  z-index: 0;
  border: none;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 16px;
}

.form__label_type_profile {
    top: -150x;
    left: 10px;
    color: silver;
}

.form__button_type_profile {
  background: none;
  color: #000000;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin-top: 220px;
}

.form__button_type_exit {
  padding: 0;
  background: none;
  border: none;
  color: #FF3055;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 800px) {
  .form__header_type_profile {
    margin-bottom: 96px;
  }

  .form__button_type_profile {
    margin-top: 210px;
  }
}

@media screen and (max-width: 420px) {
  .form__container_type_profile {
    width: 260px;
  }

  .form__header_type_profile {
    margin-bottom: 80px;
  }

  .form__button_type_profile {
    font-size: 12px;
    line-height: 15px;
    margin-top: 379px;
  }

  .form__button_type_exit {
    font-size: 12px;
    line-height: 15px;
  }
}